@model VideoUploadVM
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Upload Video";
}

<form asp-action="Index" asp-controller="VideoUpload" method="post" enctype="multipart/form-data">
    <div id="content-wrapper">
        <div class="container-fluid upload-details">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-title">
                        <div class="form-group">
                            
                            <label asp-for="AuthorId"></label>
                            <input asp-for="AuthorId" value="@Model.AuthorId" type="text" name="Title" placeholder="Contrary to popular belief, Lorem Ipsum (2019) is not." id="title" class="form-control">
                        </div>
                    </div>
                </div>
               
                
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="osahan-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Title">Video Title</label>
                                    <input asp-for="Title" type="text" name="Title" placeholder="Contrary to popular belief, Lorem Ipsum (2019) is not." id="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Description">About</label>
                                    <textarea rows="3" asp-for="Description" name="Description" class="form-control">Description</textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Video">Upload Video</label>
                                    <input type="file" asp-for="Video" name="videoFile" id="videoFile" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Tumbnail">Upload Thumbnail</label>
                                    <input type="file" asp-for="Tumbnail" name="thumbnailFile" id="thumbnailFile" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- Continue with other input fields like Orientation, Privacy Settings, etc. -->
                    </div>
                    <div class="osahan-area text-center mt-3">
                        <button type="submit" class="btn btn-outline-primary">Save Changes</button>
                    </div>
                    <hr>
                    <div class="terms text-center">
                        <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority <a href="#">Terms of Service</a> and <a href="#">Community Guidelines</a>.</p>
                        <p class="hidden-xs mb-0">Ipsum is therefore always free from repetition, injected humour, or non</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</form>
