
@{
    Layout = "_Layout2";
}
@model LoginVM

                        <form method="post"  >
                            <div class="form-group">
                                <label asp-for="UserNameOrEmail" class="form-label"></label>
                                <input asp-for="UserNameOrEmail" class="form-control">
                                <span class="text-danger" asp-validation-for="UserNameOrEmail"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-control">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Sign Up</button>
                            </div>
                        </form>

                        <div class="text-center mt-5">
                            <p class="light-gray">Don’t have an account? <a asp-action="Register">Sign Up</a></p>

                        </div>
<div class="text-center mt-5">
<a class="control-label" asp-action="ForgotPassword"  asp-controller="Account">forgot password<span class="required"></span></a>

</div>