
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout2";
}
@model RegisterVM

                        <form method="post" class="card-body btn-success"  >
                            <div class="form-group ">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Username">Username</label>
                                <input asp-for="Username" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Surname">Surname</label>
                                <input asp-for="Surname" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="Surname"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BirthDate">BirthDate</label>
                                <input asp-for="BirthDate" type="date" class="form-control">
                                <span class="text-danger" asp-validation-for="BirthDate"></span>
                            </div>
                            <div class="form-group">
                                <label  asp-for="Password" class="form-label">Password</label>
                                <input  asp-for="Password" class="form-control">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RepeatPassword" class="form-label">RepeatPassword</label>
                                <input asp-for="RepeatPassword" class="form-control">
                                <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Sign Up</button>
                            </div>
                        </form>
                        <div class="text-center mt-5">
                            <p class="light-gray">Already have an Account? <a asp-action="Login">Sign In</a></p>
                        </div>
                  